body{
    background-image: url(Hydrangeas.jpg);
    background-size: cover;
}
#body{
    background-image: none;
}

a{
    color: yellow;
}

h3{color: rebeccapurple;
    font-size: 40px;
    text-align: center;
   border-bottom: 4px solid pink;
   border-right: 4px solid pink;
   width: 400px;
   margin-left: 40%;
}
h2{ 
    color: red;
    border-bottom: 400px;
    text-align: center;
    border: 3px dashed green;
    cursor: pointer;
}
li{
list-style: none;
display: inline-block;
}
img{
    width: 250px;
    height: 250px;
    padding: 10px;
    transition: all;    
    transition-duration: 1s;
   
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-direction: row;
    
}
img:hover{
    transform: scale(1.07);
    box-shadow: 6px 6px 3px rgb(61, 61, 173);
}